<!DOCTYPE html>
<html lang="nl">
    <%- include('../components/head'); %>
    <body>
        <%- include('../components/header'); %>
        <section class="chatbotWrapper">
            <%- include('../components/chatbot'); %>
            <img class="robotImg" src="./img/robotFullSize.svg">
            <label for="fullScreenCheckbox" class="fullScreenButtonLabel">
                <img src="./img/chevron.svg" alt="Image description">
                <input id="fullScreenCheckbox" type="checkbox">
            </label>
        </section>
        
        <!-- praten met de server -->

        <section class="resultatenWrapper">
            <h2>Resultaten</h2>
            <button class="hidden">filter</button>
            <%- include('../components/resultaten'); %>
            <%- include('../components/filter'); %>
        </section>
        <script src="./JS/chatbot.js"></script>
        <script src="./JS/resultaten.js"></script>
    </body>
</html>