<!DOCTYPE html>
<html lang="nl">
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header'); %>
        <section class="chatbotWrapper">
            <%- include('../partials/chatbot'); %>
            <img class="robotImg" src="./img/robotFullSize.svg">
            <label for="fullScreenCheckbox" class="fullScreenButtonLabel">
                <img src="./img/chevron.svg" alt="Image description">
                <input id="fullScreenCheckbox" type="checkbox">
            </label>
        </section>
        
        <!-- praten met de server -->

        <section class="resultatenWrapper">
            <h2>Resultaten</h2>
            <button class="hidden">filter</button>
            <%- include('../partials/resultaten'); %>
            <%- include('../partials/filter'); %>
        </section>
        <script src="./JS/chatbot.js"></script>
    </body>
    <script src="./js/resultaten.js"></script>
</html>